<table class="table" [ngClass]="size == tableSizeEnum.Medium ? 'medium' : size == tableSizeEnum.Large ? 'large' : 'small'">
    <thead>
        <tr class="table-header">
            <th *ngFor="let item of header" scope="col">
                {{ item.label }}
                <span style="margin-left: 0.4rem; cursor: pointer;">
                    <svg *ngIf="(item.isSortable && sortEntry == null) || (item.isSortable && sortEntry != null && sortEntry.direction == 'asc') || (item.isSortable && sortEntry != null && sortEntry.column.label !== item.label)" (click)="sort(item)" version="1.1" width="14" height="14"  viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path [style]="sortEntry != null && sortEntry.column.label === item.label ? {'fill': '#0067A7' } : {'fill': '#909090'} " d="M27.66,15.61,18,6,8.34,15.61A1,1,0,1,0,9.75,17L17,9.81V28.94a1,1,0,1,0,2,0V9.81L26.25,17a1,1,0,0,0,1.41-1.42Z" class="clr-i-outline clr-i-outline-path-1"></path>
                        <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                    </svg>
                    <svg *ngIf="item.isSortable && sortEntry != null && sortEntry.column.label === item.label && sortEntry.direction == 'desc'" (click)="sort(item)" version="1.1" width="14" height="14"  viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path fill="#0067A7" transform="rotate(180 18 18)" d="M27.66,15.61,18,6,8.34,15.61A1,1,0,1,0,9.75,17L17,9.81V28.94a1,1,0,1,0,2,0V9.81L26.25,17a1,1,0,0,0,1.41-1.42Z" class="clr-i-outline clr-i-outline-path-1"></path>
                        <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                    </svg>
                </span>
                <span *ngIf="item.isGroupable" style="float: right; cursor: pointer;">
                    <svg (click)="group(item)" version="1.1" width="14" height="14"  viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M15,32H11a1,1,0,0,1-1-1V27a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1v4A1,1,0,0,1,15,32Zm-3-2h2V28H12Z" class="clr-i-outline clr-i-outline-path-1"></path>
                        <path d="M15,16H11a1,1,0,0,0-1,1v1.2H5.8V12H7a1,1,0,0,0,1-1V7A1,1,0,0,0,7,6H3A1,1,0,0,0,2,7v4a1,1,0,0,0,1,1H4.2V29.8h6.36a.8.8,0,0,0,0-1.6H5.8V19.8H10V21a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V17A1,1,0,0,0,15,16ZM4,8H6v2H4ZM14,20H12V18h2Z" class="clr-i-outline clr-i-outline-path-2"></path>
                        <path d="M34,9a1,1,0,0,0-1-1H10v2H33A1,1,0,0,0,34,9Z" class="clr-i-outline clr-i-outline-path-3"></path>
                        <path d="M33,18H18v2H33a1,1,0,0,0,0-2Z" class="clr-i-outline clr-i-outline-path-4"></path>
                        <path d="M33,28H18v2H33a1,1,0,0,0,0-2Z" class="clr-i-outline clr-i-outline-path-5"></path>
                        <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                    </svg>
                </span>
            </th>
            <th *ngIf="hasActions()">Actions</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let row of rows; let i = index">
            <tr *ngIf="!isGroupRow(row) && !row.hidden" class="table-row" (click)="rowEvent(row)" [ngClass]="i % 2 == 0 ? 'even-row' : ''">
                <td *ngFor="let cell of row.cells" scope="row" [ngStyle]="cell.style">{{ cell.label ? cell.label : cell.numericValue ? cell.numericValue : '' }}
                    <img *ngIf="cell.actionIcon" class="action-icon" [src]="cell.actionIcon" (click)="cellAction(cell)" />
                </td>
                <td *ngIf="hasActions()" >
                    <img *ngFor="let action of row.actions" class="action-icon" [src]="action.icon" (click)="callback(i, action)" />
                </td>
            </tr>
            <tr *ngIf="isGroupRow(row)" class="table-group" (click)="groupRowClick(row)">
                <ng-container *ngFor="let col of header; let j = index">
                    <td *ngIf="j == 0">
                        <svg *ngIf="row.isCollapsed" class="icon" version="1.1" width="18" height="18"  viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path transform="rotate(90 18 18)" class="clr-i-outline clr-i-outline-path-1" d="M29.52,22.52,18,10.6,6.48,22.52a1.7,1.7,0,0,0,2.45,2.36L18,15.49l9.08,9.39a1.7,1.7,0,0,0,2.45-2.36Z"></path>
                            <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                        </svg>
                        <svg *ngIf="!row.isCollapsed" class="icon" version="1.1" width="18" height="18"  viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path transform="rotate(180 18 18)" class="clr-i-outline clr-i-outline-path-1" d="M29.52,22.52,18,10.6,6.48,22.52a1.7,1.7,0,0,0,2.45,2.36L18,15.49l9.08,9.39a1.7,1.7,0,0,0,2.45-2.36Z"></path>
                            <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                        </svg>
                        {{ row.groupLabel }}<span *ngIf="row.isCollapsed"> ({{ row.itemCount }})</span>
                    </td>
                    <td *ngIf="j != 0">
                        <span *ngIf="row.summarizedData[j]" style="color: #909090; font-weight: 500;">&sum; {{ row.summarizedData[j].toFixed(2) }}</span>
                    </td>
                </ng-container>

<!--    Test with spans:                <ng-container *ngFor="let span of spans; let j = index">
                    <td *ngIf="j == 0" [attr.colspan]="span.columnsToSpan">
                        <svg *ngIf="row.isCollapsed" class="icon" version="1.1" width="18" height="18"  viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path transform="rotate(90 18 18)" class="clr-i-outline clr-i-outline-path-1" d="M29.52,22.52,18,10.6,6.48,22.52a1.7,1.7,0,0,0,2.45,2.36L18,15.49l9.08,9.39a1.7,1.7,0,0,0,2.45-2.36Z"></path>
                            <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                        </svg>
                        <svg *ngIf="!row.isCollapsed" class="icon" version="1.1" width="18" height="18"  viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path transform="rotate(180 18 18)" class="clr-i-outline clr-i-outline-path-1" d="M29.52,22.52,18,10.6,6.48,22.52a1.7,1.7,0,0,0,2.45,2.36L18,15.49l9.08,9.39a1.7,1.7,0,0,0,2.45-2.36Z"></path>
                            <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                        </svg>
                        {{ row.groupLabel }}<span *ngIf="row.isCollapsed"> ({{ row.itemCount }})</span>
                    </td>
                    <td *ngIf="j != 0" [attr.colspan]="span.columnsToSpan">
                        <span *ngIf="span.columnId != null && row.summarizedData[span.columnId]" style="color: #909090; font-weight: 500;">&sum; {{ row.summarizedData[span.columnId].toFixed(2) }}</span>
                    </td>
                </ng-container> -->
                <td *ngIf="hasActions()">
                </td>
            </tr>
        </ng-container>
    </tbody>
    <tfoot *ngIf="footer">
        <tr style="background-color: rgb(240, 243, 245);">
            <!-- <td [attr.colspan]="header.length">{{ footer }}</td> -->
            <ng-container *ngFor="let col of header; let j = index">
                <td *ngIf="j == 0">{{ footer }}</td>
                <td *ngIf="j != 0">
                    <span *ngIf="col.summarizeWhenGrouped" style="color: #909090; font-weight: 500;">&sum; {{ getTotalForColumn(j).toFixed(2) }}</span>

                </td>
            </ng-container>

            <!-- Test with spans:  <ng-container *ngFor="let span of spans; let j = index">
                <td *ngIf="j == 0" [attr.colspan]="span.columnsToSpan">{{ footer }}</td>
                <td *ngIf="j != 0" [attr.colspan]="span.columnsToSpan">
                    <span *ngIf="span.columnId != null && header[span.columnId].summarizeWhenGrouped" style="color: #909090; font-weight: 500;">&sum; {{ getTotalForColumn(span.columnId).toFixed(2) }}</span>
                </td>
            </ng-container> -->
            <td *ngIf="hasActions()"></td>
        </tr>
    </tfoot>
</table>