
.action-icon {
    height: 1rem;
    width:  1rem;
    cursor: pointer;
    margin-right: .4rem;
    display: inline-flex;
    margin-bottom: 2px;
}

.table-header {
    background-color: white;
}

.table-row {
    cursor: pointer;
    &.even-row {
        background-color: #f9f9f9;
    }

    &:hover {
        background-color: white;
    }
}

.table-group {
    cursor: pointer;
    background-color: #e5e5e5;
    font-weight: 600;
}

.table {
    -webkit-box-shadow: 0 0 0.7rem 0 #e0e0e0;
    -moz-box-shadow: 0 0 0.7rem 0 #e0e0e0;
    box-shadow: 0 0 0.7rem 0  #e0e0e0;

    &.small {
        font-size: small;
    }

    &.medium {
        font-size: medium;
    }

    &.large {
        font-size: large;

    }
}

img {
    vertical-align: text-top !important;
    margin-right: .2rem;
}