
.action-icon {
    height: 1em;
    width:  1em;
    cursor: pointer;
    margin-right: .5em;
    display: inline-flex;
    margin-bottom: 2px;
}

.table-header {
    background-color: white;
}

.table-row {
    cursor: pointer;
    &.even-row {
        background-color: #f9f9f9;
    }

    &:hover {
        background-color: white;
    }
}

.table {
    -webkit-box-shadow: 0 0 0.7em 0 #e0e0e0;
    -moz-box-shadow: 0 0 0.7em 0 #e0e0e0;
    box-shadow: 0 0 0.7em 0  #e0e0e0;

    &.small {
        font-size: small;
    }

    &.medium {
        font-size: medium;
    }

    &.large {
        font-size: large;

    }
}