<table class="table" [ngClass]="size == tableSizeEnum.Medium ? 'medium' : size == tableSizeEnum.Large ? 'large' : 'small'">
    <thead>
        <tr class="table-header">
            <th *ngFor="let item of header" scope="col" >{{ item.label }}</th>
            <th *ngIf="hasActions()">Actions</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let row of rows; let i = index">
            <tr *ngIf="!isGroupRow(row) && !row.hidden" class="table-row" (click)="rowEvent(row)" [ngClass]="i % 2 == 0 ? 'even-row' : ''">
                <td *ngFor="let cell of row.cells" scope="row">{{ cell.label }}
                    <img *ngIf="cell.actionIcon" class="action-icon" [src]="cell.actionIcon" (click)="cellAction(cell)" />
                </td>
                <td *ngIf="hasActions()" >
                    <img *ngFor="let action of row.actions" class="action-icon" [src]="action.icon" (click)="callback(i, action)" />
                </td>
            </tr>
            <tr *ngIf="isGroupRow(row)" class="table-group" (click)="groupRowClick(row)">
                <td [attr.colspan]="getNoOfColumns()">
                    <img [src]="row.icon" width="18px"/>
                    {{ row.groupLabel }}
                </td>
            </tr>
        </ng-container>
    </tbody>
    <tfoot *ngIf="footer">
        <tr style="background-color: rgb(240, 243, 245);">
            <td [attr.colspan]="header.length">{{ footer }}</td>
        </tr>
    </tfoot>
</table>