<div class="nav-bar" [ngClass]="darkmode ? 'dark' : ''">
    <span *ngFor="let item of items; let id = index;" (click)="select(id)" class="nav-item" [ngClass]="[darkmode ? 'dark' : '', size == 'normal' ? 'normal' : size == 'medium' ? 'medium' : 'large', item.isLinkItem || item.isActionItem ? 'active' : '', id == selected ? 'selected' : '', item.align == 'right' ? 'right' : '']">
        <img *ngIf="item.icon" class="nav-item-icon" [src]="item.icon" [ngClass]="[darkmode ? 'dark' : '', size == 'normal' ? 'normal' : size == 'medium' ? 'medium' : 'large']"/>
        <span class="nav-item-text" [ngClass]="[darkmode ? 'dark' : '', item.label && item.icon ? 'icon' : '']">{{ item.label ? item.label : '' }}</span>
    </span>
</div>