.nav-bar {
    min-width: 100%;
    display: flex;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 2px;

    margin: 0px;
    background-color: white;
    -webkit-box-shadow: 0 0 0.7em 0 #707070;
    -moz-box-shadow: 0 0 0.7em 0 #707070;
    box-shadow: 0 0 0.7em 0  #a0a0a0;
}

.nav-item-icon {
    &.normal {
        width: 1.2em;
        height: 1.2em;
    }
    &.medium {
        width: 1.4em;
        height: 1.4em;
    }
    &.large {
        width: 1.5em;
        height: 1.5em;
    }
    align-self: center;
}

.nav-item-text {
    align-self: center;
    &.icon {
        margin-left: .4em;
        align-self: center;
    }
}

.nav-item {
    color: #454645;
    padding-left: 1em; 
    padding-right: 1em;
    font-weight: 400;
    display: flex;

    &.normal {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        font-size: 0.85em;
    }
    &.medium {
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.05em;
    }
    &.large {
        padding-top: 1.3em;
        padding-bottom: 1.3em;
        font-size: 1.1em;
    }
    border-bottom: 2px solid white;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;



    &.active {
        cursor: pointer;
        &:hover {
            font-weight: 600;
            border-bottom: 2px solid #404040;
        }
    }

    &.selected {
        font-weight: 600;
        border-bottom: 2px solid #404040;
    }

    &.right {
        margin-left: auto;
    }
}