* { --darkmodeColor: #404040; }

.nav-bar {
    min-width: 100%;
    display: flex;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 2px;

    margin: 0px;
    background-color: white;
    -webkit-box-shadow: 0 0 0.7em 0 #a0a0a0;
    -moz-box-shadow: 0 0 0.7em 0 #a0a0a0;
    box-shadow: 0 0 0.7em 0  #a0a0a0;

    &.dark {
        background-color: var(--darkmodeColor) !important;
    }
}

.nav-item-icon {
    &.normal {
        width: 1em;
        height: 1em;
        
    }
    &.medium {
        width: 1.1em;
        height: 1.1em;
    }
    &.large {
        width: 1.5em;
        height: 1.5em;
    }

    &.dark {
        filter: invert(1);
    }
    align-self: center;
}

.nav-item-text {
    align-self: center;
    &.dark {
        color: white;
    }
    &.icon {
        margin-left: .4em;
        align-self: center;
    }
    &.bold {
        font-weight: 600;
    }
}

.nav-item {
    color: #454645;
    padding-left: 1.3em; 
    padding-right: 1.3em;
    font-weight: 300;
    display: flex;

    &.normal {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        font-size: 0.95em;
    }
    &.medium {
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.005em;
    }
    &.large {
        padding-top: 1.3em;
        padding-bottom: 1.3em;
        font-size: 1.1em;
    }

    
    border-bottom: 2px solid white;
    &.dark {
        border-bottom: 2px solid var(--darkmodeColor);

    }
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;


    &.active {
        cursor: pointer;
        &:hover {
            //font-weight: 600;
            border-bottom: 2px solid var(--darkmodeColor);
            &.dark {
                border-bottom: 2px solid white;
            }
        }
    }

    &.selected {
        //font-weight: 600;
        border-bottom: 2px solid var(--darkmodeColor);
        &.dark {
            border-bottom: 2px solid white;
        }
    }

    &.right {
        margin-left: auto;
    }
}