.title {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    .title-left {
        font-size: 1.5em;
        font-weight: 300;
        color: black;
        float: left;
    }
    
    .title-right {
        float: right;
        margin-left: auto;
    }
}
