.title {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    justify-content: center;

    .left {
        font-size: 1.5em;
        font-weight: 300;
        color: black;
        float: left;
    }
    
    .right {
        float: right;
        margin-left: auto;
    }
}
