.card {
    -webkit-box-shadow: 0 0 0.7em 0 #e0e0e0;
    -moz-box-shadow: 0 0 0.7em 0 #e0e0e0;
    box-shadow: 0 0 0.7em 0  #e0e0e0;
}

.card-header {
    font-weight: 700;
    font-size: large;
    display: flex;
}

.kpi-label {
    font-size: small;
    font-weight: 400;
    color: #909090;
    margin-bottom: .2em;
}

.card-link {
    cursor: pointer;
    font-weight: 500;
    color: #007a93;
    font-size: small;
    float: right;
}

.header-info {
    float: right;
    font-size: small;
    font-weight: 400;
    color: #909090;
    margin-left: auto;
    align-self: center;
}