<div class="page">
    <app-page-header>
        <div class="left">{{ pageTitle }}</div>
        <div class="right">
            <!-- Source: https://getbootstrap.com/docs/5.0/components/button-group/ -->
            <div class="btn-group btn-group-sm" style="float: right; margin-bottom: .5em;" role="group" aria-label="Table Size">
                <button type="button" class="btn" [ngClass]="tableSize == tableSizeEnum.Small ? 'btn-secondary' : 'btn-outline-secondary'" (click)="setSize(tableSizeEnum.Small)">S</button>
                <button type="button" class="btn" [ngClass]="tableSize == tableSizeEnum.Medium ? 'btn-secondary' : 'btn-outline-secondary'" (click)="setSize(tableSizeEnum.Medium)">M</button>
                <button type="button" class="btn" [ngClass]="tableSize == tableSizeEnum.Large ? 'btn-secondary' : 'btn-outline-secondary'" (click)="setSize(tableSizeEnum.Large)">L</button>
            </div>
        </div>
    </app-page-header>
    
    <app-table [header]="header" [rows]="rows" [size]="tableSize"></app-table>
</div>

<app-modal title="Details">
    {{ details }}
</app-modal>