<div class="page">
    <app-page-header>
        <div class="left">{{ pageTitle }}</div>
        <div class="right">
            <span class="status-text">{{ createSalaryLastResult }}</span>
            <app-menu-button [label]="addEntryLabel" [icon]="addEntryIcon" iconSize=18 (clickEvent)="toggleNewEntryForm()"></app-menu-button>
            <!-- Source: https://getbootstrap.com/docs/5.0/components/button-group/ -->
            <div class="btn-group btn-group-sm" style="float: right; margin-bottom: .5em;" role="group" aria-label="Table Size">
                <button type="button" class="btn" [ngClass]="tableSize == tableSizeEnum.Small ? 'btn-secondary' : 'btn-outline-secondary'" (click)="setSize(tableSizeEnum.Small)">S</button>
                <button type="button" class="btn" [ngClass]="tableSize == tableSizeEnum.Medium ? 'btn-secondary' : 'btn-outline-secondary'" (click)="setSize(tableSizeEnum.Medium)">M</button>
                <button type="button" class="btn" [ngClass]="tableSize == tableSizeEnum.Large ? 'btn-secondary' : 'btn-outline-secondary'" (click)="setSize(tableSizeEnum.Large)">L</button>
            </div>
        </div>
    </app-page-header>
    
  <!--   <app-inline-button-group [buttons]="yearButtons" [multiSelect]="yearFilterMulti" (selectedButtons)="yearFilterChanged($event)"></app-inline-button-group>  -->

    <app-salary-add-entry *ngIf="showAddEntry" [model]="newSalaryEntry" (newEntry)="createSalary($event)"></app-salary-add-entry>
    <p></p>
    <app-table 
        [header]="header" 
        [rows]="rows" 
        [size]="tableSize" 
        collapseGroupsByDefault=true 
        [groupColumn]="groupCell"
        (rowAction)="rowClicked($event)">
    </app-table>
</div>

<jw-modal id="json" class="small-modal">
    <h3>Salary Data</h3>
    <app-show-json [content]="jsonDetails"></app-show-json>
    <button type="button" class="btn btn-primary" style="float: right;" (click)="closeModal('json');">
        Close
    </button>
</jw-modal>

<jw-modal id="delete-confirmation" class="small-modal">
    <h3>Really Delete Entry</h3>
    <p>{{deleteConfirmMessage}}</p>
    <button type="button" class="btn btn-danger" (click)="deleteSalaryEntry(deletionEntry)">
        Delete
    </button>
    &nbsp;
    <button type="button" class="btn btn-primary" style="float: right;" (click)="closeModal('delete-confirmation');">
        Close
    </button>
</jw-modal>