
<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div #container></div>
  {{ content }}
</div>
<div *ngIf="closeBtnName || cancelBtnName" class="modal-footer">
  <button *ngIf="closeBtnName" type="button" class="btn btn-default" (click)="handleAction(cancelBtnName != null)">{{closeBtnName}}</button>
  &nbsp;
  <button *ngIf="cancelBtnName" type="button" class="btn btn-secondary" (click)="handleAction(false)">{{cancelBtnName}}</button>
</div>