<div class="page">
    <app-page-header>
        <div class="left">
            {{ pageTitle }}
            
        </div>
        <div class="right">
            <span class="status-text">{{ lastResult }}</span>

            <ng-container *ngFor="let p of persons">
                <app-menu-button *ngIf="currentPerson != p" [label]="personButtonLabel(p)" [icon]="personIcon" iconSize=18 (clickEvent)="changeUser(p)"></app-menu-button>
            </ng-container>
            <app-menu-button label="New Expense" [icon]="addEntryIcon" iconSize=18 (clickEvent)="newExpenseEntry()"></app-menu-button>
        </div>
    </app-page-header>
    <p></p>
    <app-table 
        [header]="header" 
        [rows]="rows" 
        [size]="tableSize"
        [footer]="footerText"
        collapseGroupsByDefault=true 
        [groupColumnIndex]="groupCell" 
        [sortEntry]="currentSortEntry"
        (sortAction)="sortColumn($event)">
    </app-table>
</div>

<jw-modal id="delete-confirmation" class="small-modal">
    <h3>Really Delete Entry</h3>
    <p>{{deleteConfirmMessage}}</p>
    <button type="button" class="btn btn-danger" (click)="deleteEntry(deletionEntry)">Delete</button>
    &nbsp;
    <button type="button" class="btn btn-primary" style="float: right;" (click)="closeModal('delete-confirmation');">Cancel</button>
</jw-modal>

<jw-modal id="change-value" class="small-modal">
    <h4>Change expense value</h4>
    <p>{{ changeEntry.Name }} pro {{ changeEntry.Intervall }} (id: {{ changeEntry._id }})</p>

    <table style="width: 100%;">
        <tr>
            <td style="width: 30%;">
                <strong>New Value:</strong>
            </td>
            <td>
                <input type="number" id="value" name="Betrag" required [(ngModel)]="changeEntry.Betrag"/>
            </td>
        </tr>
        <tr>&nbsp;</tr>
        <tr>
            <td style="width: 30%;">
                <strong>Start Date:</strong>
            </td>
            <td>
                <input type="date" id="datum" required [(ngModel)]="changeEntry.Start" name="Datum">
            </td>
        </tr>
    </table>

    <p></p>

    <button type="button" class="btn btn-danger" (click)="change()">Change</button>
    &nbsp;
    <button type="button" class="btn btn-primary" style="float: right;" (click)="closeModal('change-value');">Cancel</button>
</jw-modal>

<jw-modal id="change-entry" class="small-modal">
    <h4>{{ changeEntry._id ? 'Change' :'Create'}} expense record</h4>
    <p *ngIf="changeEntry._id">{{ changeEntry.Name }} pro {{ changeEntry.Intervall }} (id: {{ changeEntry._id }})</p>

    <form (ngSubmit)="changeOrCreateEntry()" #ausgabeForm="ngForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name"><strong>Name</strong></label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="changeEntry.Name" name="Name"
                #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required</div>
          </div>
    
          <div class="form-group col-md-6">
            <label for="kategorie"><strong>Kategorie</strong></label>
            <select class="form-control" id="kategorie" required [(ngModel)]="changeEntry.Kategorie" name="Kategorie" #kategorie="ngModel">
                <option *ngFor="let c of categories"> {{ c }}</option>
            </select>
            <div [hidden]="kategorie.valid || kategorie.pristine" class="alert alert-danger">
                Kategorie is required</div>
          </div>

          <div class="form-group col-md-6">
            <label for="intervall"><strong>Intervall</strong></label>
            <select class="form-control" id="intervall" required [(ngModel)]="changeEntry.Intervall" name="Intervall" #intervall="ngModel">
                <option>Monat</option>
                <option>Quartal</option>
                <option>Jahr</option>
              </select>
              <div [hidden]="intervall.valid || intervall.pristine" class="alert alert-danger">
                Intervall is required</div>
          </div>

          <div class="form-group col-md-6">
            <label for="betrag"><strong>Betrag</strong></label>
            <input type="number" class="form-control" id="betrag" required [(ngModel)]="changeEntry.Betrag" name="Betrag"
                #betrag="ngModel">
            <div [hidden]="betrag.valid || betrag.pristine" class="alert alert-danger">
                Betrag is required number</div>
        </div>

        <div class="form-group col-md-6">
            <label for="beschreibung"><strong>Beschreibung</strong></label>
            <input type="text" class="form-control" id="beschreibung" [(ngModel)]="changeEntry.Beschreibung" name="Beschreibung" 
                #beschreibung="ngModel">
        </div>

        <div class="form-group col-md-6">
            <label for="start"><strong>Start</strong></label>
            <input type="date" class="form-control" id="start" [(ngModel)]="changeEntry.Start" name="Start" 
                #start="ngModel">
        </div>

        <div class="form-group col-md-6">
            <label for="ende"><strong>Ende</strong></label>
            <input type="date" class="form-control" id="ende" [(ngModel)]="changeEntry.Ende" name="Ende" 
                #ende="ngModel">
        </div>
    
        </div>
        <button type="button" class="btn btn-secondary" style="float: right;" (click)="closeModal('change-entry');">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!ausgabeForm.form.valid">{{ changeEntry._id ? 'Change' :'Create'}}</button>&nbsp;
    </form>
</jw-modal>