.menu-button {
    vertical-align: sub;
    margin-left: 1em;
    margin-right: 1em;
    color: #0a7392;
    cursor: pointer;
    font-weight: 400;
}
.button-icon {
    margin-right: .4em;
    margin-bottom: 2px;
}
