/* You can add global styles to this file, and also import other style files */

* { 
    margin: 0; 
    padding:0;
    
}

html {
    --bg: #efefef;
    background-color: var(--bg);
    body {
        font-family: 'Roboto';
        font-weight: 300;
        background-color: var(--bg);
        
    }
}


.page {
    padding: 1em;
    

    .title {
        font-size: 1.5em;
        font-weight: 300;
        color: black;
    }
}

